<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Productos - Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Página Principal</ion-card-subtitle>
          <ion-card-title>Productos</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div text-center class="ion-padding">
            <ion-button margin [routerLink]="['/productos','listar-productos']"color="primary" expand="block" size="default">
              <ion-icon name="list-box"></ion-icon>
              Buscar Activos
            </ion-button>
            <ion-button margin [routerLink]="['/productos','crear-productos']" color="success" expand="block" size="default">
              <ion-icon name="create"></ion-icon>
              Crear Producto
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      
  
  <!--<div>
    <app-crear-producto></app-crear-producto>
  </div>
  <div>
      <app-listar-productos></app-listar-productos>
    </div>-->
    <!--<app-listar-productos></app-listar-productos>-->
</ion-content>
