<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Nuevo Producto</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Nombre"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="text" placeholder="Descripción"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Activo</ion-label>
            <ion-toggle placeholder="Activo" color="primary"></ion-toggle>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button size="small" href="/touchid" expand="block">Crear Nuevo Producto</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

