<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Nuevo Producto</h4>
        </div>
        <form  [formGroup]="formProducto">
          <div class="form-group"  padding>

          <ion-item>
            <ion-input name="nombre" type="text" placeholder="Nombre" formControlName = "nombre"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input name="descripcion"type="text" placeholder="Descripción" formControlName = "descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Activo</ion-label>
            <ion-toggle name="estado" placeholder="Activo" color="primary" formControlName = "activo" value=false></ion-toggle>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button (click)="OnCreateProduct()" size="small" type="submit" expand="block">Crear Nuevo Producto</ion-button>
        </div>
      </form>
      <!--<p>Form value {{ formProducto.value | json }} </p>
     <p> Form status {{ formProducto.status | json}} </p>-->
      </ion-col>
    </ion-row>
  </ion-grid>

