<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Nuevo Producto</h4>
        </div>
        <!--<form [formGroup]="createProductoForm" (ngSubmit)="createProducto()">-->
          <div padding>

          <ion-item>
            <ion-input name="nombre" type="text" placeholder="Nombre"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input name="descripcion"type="text" placeholder="Descripción"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Activo</ion-label>
            <ion-toggle name="estado" placeholder="Activo" color="primary"></ion-toggle>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button (click)="OnCreateProduct()" size="small" type="submit" expand="block">Crear Nuevo Producto</ion-button>
        </div>
      <!--</form>-->
      </ion-col>
    </ion-row>
  </ion-grid>

