<ion-view title="Crear Producto" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="crearProducto-heading1" style="color:#000000;">Datos de Producto Nuevo</h3>
    <div id="crearProducto-container2">
      <form id="crearProducto-form2" class="list">
        <label class="item item-input item-stacked-label" id="crearProducto-input2">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="crearProducto-input1">
          <span class="input-label">Descripción</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="crearProducto-select1" name="activo">
          <span class="input-label">Activo</span>
          <select>
            <option>Si</option>
            <option>No</option>
          </select>
        </label>
        <button id="crearProducto-button1" class="button button-positive button-block">Crear Producto</button>
      </form>
    </div>
  </ion-content>
</ion-view>