<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center class="ion-padding">
      <h4>Página Inicial de Productos</h4>
    <ion-button [routerLink]="['/home','listar-productos']"color="primary" expand="block" size="default">Buscar Activos</ion-button>
    <ion-button [routerLink]="['/home','crear-productos']" color="primary" expand="block" size="default">Crear Producto</ion-button>
  </div>
  <!--<div>
    <app-crear-producto></app-crear-producto>
  </div>
  <div>
      <app-listar-productos></app-listar-productos>
    </div>-->
</ion-content>
