<ion-header>
  <ion-toolbar color = "primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/productos"> <!--Se pone la página por defecto para que si se ingresa a algún id por URL aparezca el botón para devolverse a esa página principal establecida -->
        </ion-back-button>
      </ion-buttons>
      <ion-title>
        Listar Productos Activos
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <app-listar-productos></app-listar-productos>
  <!--<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Listado de Productos Activos</h4>
        </div>
          <ion-list>
            <ion-item *ngFor="let result of (results | async)">{{result.nombre}}</ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
