<ion-header>
  <ion-toolbar color = "primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"><!-- Se pone la página por defecto para que si se ingresa a algún id por URL aparezca el botón para devolverse a esa página principal establecida-->
        </ion-back-button>
      </ion-buttons>
      <ion-title>
        Crear Producto
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <!--<app-crear-producto></app-crear-producto>-->
</ion-content>
